@charset "UTF-8";
body{
    font-family: Helvetica,"PingFang SC",
    "Hiragino Sans GB",
    "Microsoft YaHei";
    font-weight:400;
    font-size:14px;
    color:#000;
}

a {
    color:#409EFF;
    text-decoration:none
}

h1,h2,h3,h4,h5,h6 {
    color:#606266;
    font-weight:inherit
}

h1 {
    font-size:20px
}
h2 {
    font-size:18px
}
h3 {
    font-size:16px
}
h4,h5,h6,p {
    font-size:inherit
}
p {
    line-height:1.8
}
sub,sup {
    font-size:13px
}

small {
    font-size:12px
}

hr {
    border:0;
    border-top:1px solid #eee;
}
